<!DOCTYPE html>
<html>
    <head>
        <title>Clean Architecture</title>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <ul>
        {% for user in users %}
            <li>{{ user.name }}</a></li>
        {% endfor %}
        </ul>
    </body>
</html>
